html {
	width: 100%;
	height: 100%;
	
//	overflow: hidden;
}

body {
	height: auto;
}

header {
	position: absolute;
		
	width: 100%;
	height: 100px;
	top: 0px;
	left: 0px;
}

section {
	position: absolute;
	
	height: auto;
	width: 100%;
	top: 100px;
	left: 0px;

}

article {	
	float: left;
	
	width: 480px;
	height: auto;
	overflow: auto;
	
	padding: 1.6em;
}

#news {	
	width: 400px;
	height: 100%;
	
	padding: 1em;
}

#sidebar {
	float: left;
	
	width: 200px;
	height: 100%;
	
	font: 1.5em 'Helvetic', 'Arial', sans-serif;
	line-height: 2em;
}

h1 {
	font: Bold 2em 'Helvetica', 'Arial', sans-serif;
}

h2 {
	font: Bold 1.5em 'Helvetica', 'Arial', sans-serif;
}

h3 {
	font: Bold 1.5em 'Helvetica', 'Arial', sans-serif;
}

p {
	font: 0.875em 'Helvetica', 'Arial', sans-serif;
	line-height: 1.375em;
}

.newsheader {
	font: 1em 'Helvetica', 'Arial', sans-serif;
}