html {
	width: 100%;
	height: 100%;
	
//	overflow: hidden;
}

body {
	position: relative;
	width: 99%;
	height: 100%;
	
}

header {
	position: relative;
	width: 100%;
	height: 100px;
		
	background: yellow;
}

h1 {
	
}

h2 {
	
}

h3 {

}

h6 {
	
}

#sidebar {
	position: relative;
	background: green;
	float: left;
	
	width: 200px;
	height: auto;
		
	font: 1.6em 'Helvetica', Arial, sans-serif;
}

#bodycontent {
	position: relative;
	width: 100%;
	height: 100%;
	
	padding-bottom: 5em;
}

#content {
	position: relative;
	background: beige;
	
	float: left;
	
	width: 400px;
	height: 100%;
}