html {
	width: 100%;
	height: 100%;
	
//	overflow: hidden;
}

body {
	height: auto;
	background: red;
}

header {
	position: absolute;
	
	background: yellow;
	
	width: 100%;
	height: 100px;
	top: 0px;
	left: 0px;
}

section {
	position: absolute;
	background: aqua;
	
	height: auto;
	width: 100%;
	top: 100px;
	left: 0px;

}

article {
	background: blue;
	
	float: left;
	
	width: 400px;
	height: auto;
	overflow: auto;
}

#sidebar {
	float: left;
	
	width: 200px;
	height: 100%;
}

h1 {
	
}

h2 {
	
}

h3 {

}

h6 {
	
}